@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #EEE;
    --body-background-color: white;
    --text-color: #333;
    --text-color-negative: var(--background-color);
    --text-color-shadowed: #444;

    --backdrop-color: 10,10,10;

    --secondary: 255,80,20;
    --primary: 50,120,255;

    --mild-border-radius: .5rem;
    --default-border-radius: 1rem;
    --high-border-radius: 2rem;
    --aggressive-border-radius: 3rem;

    --transition-duration-medium: .5s;
    --transition-duration-fast: .25s;
    --transition-duration-veryfast: .125s;

    font-family: Noto Sans;
    font-size: 14pt;
    color: var(--text-color);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html{
    background-color: var(--background-color);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    min-height: 100vh;
    width: 100%;

    margin: 0 auto;

    background-color: var(--body-background-color);
}

/*******************************/
/* Default text settings stuff */
/*******************************/

h1{
    font-size: 3em;
}

p{
    line-height: 1.5em;
}

p:first-of-type{
    margin-top: 1em;
}

p+p{
    margin: 1em 0;
}

/************/
/* Articles */
/************/
article{
    width: 80%;

    margin: 0 0 2em 0;

    font-size: 1rem;
}