---
import { ViewTransitions } from 'astro:transitions';
import "../styles/general.css"
import logo from "../assets/favicon.ico"

interface Props {
	title: String;
    favicon?: string;
}

const { title, favicon = logo } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="The temporary landing page for Embracket" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
</head>